:root{
	--lightgrey: #a9a9a9;
	--darkgrey: #55555555;
	--black: #000000;
	--white: #ffffff;
}

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: var(--lightgrey);
}


/**Specific Styling**/

.headersec{
	width: 100%;
	height: 500px;
	background-image: url(header.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-bottom: 20px;
	border-bottom: 2px solid var(--lightgrey);
}
	

.picture{
	position: relative;
	width: 400px;
}

.image{
	width: 350px;
	height: auto;
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 500px;
	width: 350px;
	opacity: 0;
	transition: .5s ease;
	background-color: var(--black);
}

.picture:hover .overlay{
	opacity: 0.8;
}

.text{
	color: var(--white);
	font-size: 20px;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate( -50%, -50%);
	text-align: center;
}

.container{
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	justify-content: center;
}

.container img{
	width: 350px;
	height: 500px;
	justify-content: center;
	padding: 0px 0px;
	margin-bottom: 30px;

}

.gallerytitle{
	margin-bottom: 20px;
	text-align: center;
	margin-right: 3.5%;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 2em;
	font-family: 'Play', sans-serif;
}


#aboutmetitle{
	margin-bottom: 20px;
	text-align: center;
	margin-right: 3.5%;
	margin-top: 10px;
	margin-bottom: 40px;
	font-size: 2em;
	font-family: 'Play', sans-serif;
}

#circle{
	height: 150px;
	margin-left: 7.5%;
	float: left;
	shape-outside: ellipse(50% 60%);
	margin-right: 10px;
}

#para1{
	text-align: left;
	margin-left: 7.5%;
	margin-right: 10%;
	margin-bottom: 10px;
	font-size: 1.2em;
	font-family: 'Play', sans-serif;
	line-height:125%;
}

#para2{
	text-align: left;
	margin-left: 7.5%;
	margin-right: 10%;
	margin-bottom: 10px;
	font-size: 1.2em;
	font-family: 'Play', sans-serif;
	line-height: 125%;
}

#para3{
	text-align: left;
	margin-left: 7.5%;
	margin-right: 10%;
	margin-bottom: 30px;
	font-size: 1.2em;
	font-family: 'Play', sans-serif;
	line-height: 125%;
}


footer{
	background-color: var(--darkgrey);
	height: 50%;
	color: var(--black);
	border-top: 2px solid #55555;
}

footer h4{
	/**margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 11%;**/
	font-size: 20px;
	font-family: 'Play', sans-serif;
	padding-top: 15px;
	text-align: center;	
	padding-bottom: 20px;
	margin-right: 2%;
}

.fa {
  padding: 20px;
  font-size: 25px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 0px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: var(--black);
  color: var(--white);
 /** margin-left: 7.5%; **/
}

.fa-instagram {
  background: var(--black);
  color: var(--white);
  margin-left: 10px;
  margin-right: 10px;
}

.fa:hover{
	opacity:0.7;
}

.fa-soundcloud {
  background: var(--black);
  color: var(--white);
  margin-right:10px;
}

.fa-github {
  background: var(--black);
  color: var(--white);
  margin-right: 2%;
}

#circle{
	height: 150px;
	margin-left: 7.5%;
	float: left;
	shape-outside: ellipse(50% 60%);
	margin-right: 10px;
}

#copyright{
	text-align: right;
	margin-right: 5px;
	margin-bottom: 5px;
}







