:root {
	--lightgrey: #d5d5d5;
	--darkgrey: #555555;
	--black: #000000;
	--white: #ffffff;
}

*{
	margin: 0;
	padding: 0;
}

.intro{
	background-image:url(berghainfull.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0px 20px;
	font-family: 'Play', sans-serif;
}

.intro h1{
	font-size: 50px;
	line-height: 1.2;
	color: var(--lightgrey);
	text-transform: uppercase;	
}

.bttn{
	font-size: 25px;
	text-decoration: none;
	color: var(--white);
	border: 5px solid var(--white);
	padding: 15px 25px;
	border-radius: 10px;
	margin-top: 40px;
	margin-bottom: 100px;
	text-transform: uppercase;
	transition: all 0.7s;
}

.bttn:hover{
	color: var(--lightgrey);
	border: 5px solid var(--lightgrey);
}
